.blog.index {
    .content {
        ul {
            list-style-type: none;
            li, li p {
                margin: 0;
            }
            span {
                display: inline-block;
                width: 200px;
                text-align: right;
                margin-right: 10px;
            }
        }
    }
}