header {
    padding: $spacing-unit $spacing-unit 0;
    max-width: $max-width;
    h1 {
        font-size: 2em;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &.contact {
        text-align: right;
    }
    &.navigation {
        padding-top: 0;
        nav {
            margin-bottom: $spacing-unit;
        }
    }
    &.page {
        padding-top: 0;
        .greeting {
            margin-bottom: 15px;
        }
    }
}

.content {
    padding: 0 $spacing-unit;
    max-width: $max-width;
}

footer {
    padding: $spacing-unit;
    max-width: $max-width;
}