header {
    padding: $spacing-unit;
    padding-bottom: 0;
    max-width: $max-width;
    h1 {
        font-size: 1em;
        margin-top: 1em;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &.site {
        text-align: right;
    }
    &.page {
        margin-top: -$spacing-unit;
        .other {
            font-size: smaller;
        }
    }
}