header {
    h1 {
        margin: 0;
        font-size: 1em;
        font-weight: 400;
    }

    &.site {
        text-align: right;
        ul {
            margin-top: 40px;
            margin-right: 40px;
            list-style-type: none;
        }
    }
    &.page {
        ul {
            list-style-type: none;
        }
        .other {
            font-size: smaller;
        }
    }
}