<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="William Mayor" />
        <link href='/style.css' rel='stylesheet' type='text/css' /> 
        <title>www.williammayor.co.uk | {{ page.title }}</title>
    </head>
    <body>
        <div id="container">
            <nav>
                <div>
                    <h1><a href="/">William Mayor</a></h1>
                    <ul>
                        <li><a href="/blog/"><i class="fa fa-quote-left"></i>BLOG</a></li>
                        <li><a href="/research/"><i class="fa fa-flask"></i>RESEARCH</a></li>
                        <li><a href="/projects/"><i class="fa fa-code"></i>PROJECTS</a></li>
                    </ul>
                </div>
            </nav>
            <div id="content">
                {{ content }}
            </div>
        </div>
    </body>
</html>
