---
layout: layout
---
<h1 class="title">{{ page.title }}</h1>

{{ content }}

<div class="other_posts">
    {% if page.previous || page.next || site.related_posts %}
    <p>Enjoy reading that? Read some more:</p>
    {% endif %}
    {% if page.previous %}
    <a href="{{ page.previous.url }}" class="previous">&lt;&lt; previous</a>
    {% endif %}
    {% if site.related_posts %}
    <div class="related">
        <h2>Related Posts</h2>
        <ul>
        {% for post in site.related_posts %}
            <li><a href="{{ post.url }}">{{ post.title | truncate: 35 }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if page.next %}
    <a href="{{ page.next.url }}" class="next">next &gt;&gt;</a>
    {% endif %}
</div>