---
layout: default
type: post
---
<header class="page">
    <nav><ul>
        <li><a href="/blog/">Blog</a></li>
        {% if site.posts[0].id != page.id and site.posts[0].id != page.previous.id and site.posts[0].id != page.next.id %}
        <li class="other"><span>Latest Post:</span> <a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a></li>
        {% endif %}
        {% if page.previous %}
        <li class="other"><span>Previous Post:</span> <a href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
        {% endif %}
        {% if page.next %}
        <li class="other"><span>Next Post:</span> <a href="{{ page.next.url }}">{{ page.next.title }}</a></li>
        {% endif %}
    </ul></nav>
    <h1>{{ page.title }}</h1>
    <div class="tags">Tags: {% for tag in page.tags %}
        {% if forloop.first != true %}|{% endif %} <a class="tag" href="/blog/#{{ tag }}">{{ tag }}</a>
    {% endfor %}</div>
    <div class="date">{{ page.date | date_to_string }}</div>
    <div class="greeting">Dear Internet,</div>
</header>
<div class="content">{{ content }}</div>
